a:link {
  color: rgb(104, 53, 53);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(104, 53, 53);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(104, 53, 53);
  background-color: transparent;
  text-decoration: none;
}
#upper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 215, 190);
  width: 100%;
  height: 100px;
}
body {
  font-family: "Jua", sans-serif;
  display: block;
  text-align: center;
  background-color: rgb(247, 244, 234);
}
#cat {
  width: 32px;
  height: 32px;
  margin: 0px 10px;
}
.menu {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(252, 230, 204);
}
.box {
  float: left;
  width: 18%;
  padding: 20px;
}
.intro {
  text-align: center;
  margin: 50px;
}
