html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  background-color: goldenrod;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
}

ul {
  list-style: none;
}

.breweries > ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.breweries > ul > li {
  position: relative;
  border: solid 1px #e2e2e2;
  border-radius: 0.5rem;
}

.breweries > ul > li > figure {
  position: relative;
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey;
}
